body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24 px;
    background-color: rgb(153, 165, 132);
}

a {
    color: white;
    
}

.linki_prawe {
    float: right;
    
}

.linki_lewe {
    float: left;
}

